[submodule "bgfx"]
	path = bgfx
	url = https://github.com/myestro/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/myestro/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/myestro/bimg.git
